body {
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

* {
	box-sizing: border-box;
}
